*{
    margin:0;
    padding:0;
    font-family: 'Anton', sans-serif;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input{
    color: rgb(123, 123, 123);
}
.contenedor{
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorItemUno input{
    text-align: center;
    margin-top: 10px;
    height: 30px;
    width: 300px;
}
.asunto input{
    text-align: center;
    margin: 10px;
    height: 30px;
    width: 610px;
}
.msj input{
    text-align: center;
    margin: 10px;
    height: 300px;
    width: 610px;
}
button{
    color: white;
    font-size: 25px;
    background-color: rgb(232, 86, 23);
    height: 50px;
    width: 120px;
    border-radius: 2px;
    border: transparent;
    font-family: 'Anton', sans-serif;
}