*{
    margin: 0;
    padding: 0;
    background-color: rgba(19, 17, 28);
}
h1{
    font-size: 64px;
    margin:30px;
    margin-left: 19%;
    border: black;
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
}
h5{
    font-size: 25px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
}
.horarios{
    display: flex;
    justify-content: center;
}
.parrao{
    margin: 60px;
    margin-left: 19%;
    color: rgb(102, 102, 102);
    width: 900px;
    font-size: 18px;
}
.elementosHorarios{
    text-align: center;
}
